Repository cpe-kmutt-student/comcamp34, pull requests merged in 2023-01, with the labels that each got.

#14 feat(select-input)
  src/components/SelectInput.tsx
Labels: :sparkles: enhancement, frontend, form input

#19 feat(Checkbox)
  src/components/Checkboxinput.tsx
Labels: :sparkles: enhancement, frontend, form input

#33 feat(consent-form)
  index.html
  src/components/registrationForm/ConsentForm.tsx
  src/pages/RegistrationPage.tsx
Labels: :sparkles: enhancement, frontend

#35 feat(personal-data-form)
  src/components/EmailInput.tsx
  src/components/Inputbox.tsx
  src/components/registrationForm/DropdownData/date_data.json
  src/components/registrationForm/DropdownData/month_data.json
  src/components/registrationForm/DropdownData/provinces_data.json
  src/components/registrationForm/DropdownData/shirtsize_data.json
  src/components/registrationForm/DropdownData/year_data.json
  src/components/registrationForm/PersonalInfoForm.tsx
  src/pages/RegistrationPage.tsx
Labels: :sparkles: enhancement, frontend, form input

#37 CHANGE : Data Policy according Registration Team
  src/components/registrationForm/ConsentForm.tsx
Labels: frontend, form input, fix
